<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Matematikk-MOOC by matematikk-mooc</title>
  </head>
  <body>

    <header>
      <div class="inner">
        <h1>Matematikk-MOOC</h1>
        <h2></h2>
        <a href="https://github.com/matematikk-mooc" class="button"><small>Follow me on</small>GitHub</a>
      </div>
    </header>


    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
         {{ content }}
        </section>

        <aside id="sidebar">
          <h1>Troubleshooting</h1>
          <p>See <a href="https://github.com/matematikk-mooc/mmooc/wiki/Solutions">this page</a> for solutions to common problems.</p>

          <h1>Feedback</h1>
          <p>Please use <a href="https://github.com/matematikk-mooc/matematikk-mooc.github.io/issues/new">this form</a>
            (on github) if you either have any questions or want to
          report a bug.</p>

          <h1>More information</h1>
          <p>Developers, system administrators and other adventurous
            people can find more information at the <a href="https://github.com/matematikk-mooc/mmooc/wiki">project
            wiki</a>.</p>


          <address>This page is using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</address>.
        </aside>
      </div>
    </div>
  </body>
</html>
